

[class*=col-] {
  border: 1px solid black;
  position: relative;
}

p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.col-1,
.col-12,
.col-8,
.col-2,
.col-6 {
  background-color: pink;
}

.bottom {
  padding: 10px;
}
 .nested {
  border: 1px solid white;
  background-color: #F07F80;
  max-width: 100%;
  max-height: 100%;
}
